<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Information</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
  .w3-bar-block .w3-bar-item {padding:20px}
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Learn About Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update Data!</a></p>
    </div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

          <!-- Photo Grid-->
      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-half">
          <h3>{{ mars_dict.article_title}}</h3>
          <p>{{ mars_dict.article_excerpt}}</p>
        </div>
        <div class="w3-half">
          <h3>Latest Weather on Mars</h3>
          <p>Placeholder</p> 
        </div>
      </div>
  </div>

  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">       

   <!-- Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <h2>Mars' Hemispheres</h2>
      <div class="w3-quarter">
        <img src= {{mars_dict.hemisphere_pic[0]}} alt="{{mars_dict.hemisphere_list[0]}}" style="width:100%">
        <h3>{{mars_dict.hemisphere_list[0]}}</h3>
      </div>
      <div class="w3-quarter">
        <img src={{mars_dict.hemisphere_pic[1]}} alt="{{mars_dict.hemisphere_list[1]}}" style="width:100%">
        <h3>{{mars_dict.hemisphere_list[1]}}</h3>
      </div>
      <div class="w3-quarter">
        <img src={{mars_dict.hemisphere_pic[2]}} alt="{{mars_dict.hemisphere_list[2]}}" style="width:100%">
        <h3>{{mars_dict.hemisphere_list[2]}}</h3>
      </div>
      <div class="w3-quarter">
        <img src={{mars_dict.hemisphere_pic[3]}} alt="{{mars_dict.hemisphere_list[3]}}" style="width:100%">
        <h3>{{mars_dict.hemisphere_list[3]}}</h3>
      </div>
    </div>
  </div>


  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-half">
        <img src= {{mars_dict.feature_image}} alt="featured space image" style="width:100%">
        <h3>Featured Image from the Jet Propulsion Laboratory</h3>
      </div>
      <div class="w3-half">
        <h3>Mars Facts</h3>
        <table class= "table-center .table-striped">{{ mars_dict.fact_table| safe }} </table> 
      </div>
    </div>
  </div>


</body>

</html>
